html, body {
  height : 100%;
  font-family: 'Montserrat', 'sans-serif';
}

.full-height {
  height : 100%;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.countdown-app__text-info {
  margin-bottom: 30px;
}

.countdown-app__button-container {
  margin-top: 10px;
}

.countdown-app__button-submit {
  margin: 20px;
  min-width: 80px;
  font-size: 16px;
  text-align: center;
}

.countdown-app__button-nav {
  margin: 20px;
  min-width: 80px;
  text-align: center;
  font-size: 18px;
}

.countdown-app__time-span {
  margin: 0px 10px;
}

.countdown-app__helper-div {
  position: absolute;
  right: -20px;
  top: 0px;
  cursor : pointer;
}

.countdown-app__helper-div span {
  font-size: 25px;
}

.countdown-app__button-container .fas{
  margin-right: 10px;
}

.tooltip-inner {
  min-width: 180px;
}

.stopwatch__input {
  border: none;
  background: inherit;
  font-size: 24px;
  width: 50px;
  text-align: center;
}

.stopwatch__separated-colon {
  font-size: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}